{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Despensa Digital</title>
  </head>
  <body>
    <nav>
      <h2>Despensa Digital</h2>
      <ul>
        <li><a href="{% url 'lista_produtos' %}">Lista de Produtos</a></li>
        <li><a href="{% url 'cria_produto' %}">Registrar Produto</a></li>
        <li><a href="">Marcas</a></li>
        <div class="base-principal">
          {% block conteudo %} {% endblock conteudo %}
        </div>
      </ul>
    </nav>
  </body>
</html>
